.square {
	width: 30%;
	padding-bottom: 30%;
	background-color: purple;
	margin: 1.66%;
	float: left;
}

body {
	background: grey;
}

#container {
	width: 60%;
	margin: 0 auto;
}

h1 {
	color: white;
}